/*
Table Of Contents
=========================
- Default Typography
- Custom Typography
=========================
*/


/*
--------------------------
- Default Typography
--------------------------
*/

/*@font-face {
    font-family: 'kanit';
    src: url('../font/kanit-extralight.woff2') format('woff2'),
         url('../font/kanit-extralight.woff') format('woff'),
         url('../font/kanit-extralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'thaisansregular';
    src: url('../font/thaisansneue-regular.woff2') format('woff2'),
         url('../font/thaisansneue-regular.woff') format('woff'),
         url('../font/thaisansneue-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'thaisanslite';
    src: url('../font/thaisansneue-semibold.woff2') format('woff2'),
         url('../font/thaisansneue-semibold.woff') format('woff'),
         url('../font/thaisansneue-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'thaisanbold';
    src: url('../font/thaisansneue-bold.woff2') format('woff2'),
         url('../font/thaisansneue-bold.woff') format('woff'),
         url('../font/thaisansneue-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}*/

body {
    font-size: 14px;
    font-family: sans-serif;
    color: #5a6a75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    /*font-family: 'Prompt', sans-serif;*/
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0;
    /*font-family: 'Prompt', sans-serif;*/
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}
h6,.h6{ font-size: 1rem; }
h5{ font-size: 1.8rem; }

p{
   /* font-family: 'Prompt', sans-serif;
    font-size: 14px;
    color: #5a6a75;
    margin-bottom: 0;*/
}
p img {
    margin: 0;
}

/* links */

a,
a:visited {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: 0;
}
a:hover{
    text-decoration: none;
}
a:focus {
    text-decoration: none;
    outline: 0;
}

p a,
p a:visited {
    line-height: inherit;
    outline: 0;
}


/* list */

ul,
ol {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;
}

ul {
    margin: 0;
    list-style-type: none;
}

ol {
    list-style: decimal;
}

ol,
ul.square,
ul.circle,
ul.disc {
    margin-left: 0px;
}

ul.square {
    list-style: square outside;
}

ul.circle {
    list-style: circle outside;
}

ul.disc {
    list-style: disc outside;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 0;
}

ul ul li,
ul ol li,
ol ol li,
ol ul li {
    margin-bottom: 0px;
}

button {
    cursor: pointer;
    outline: none!important;
    letter-spacing: 0;
    font-family: 'Prompt', sans-serif;
}

/*
--------------------------
- Custom Typography
--------------------------
*/
/* blockquote */
blockquote{
    padding: 60px;
    position: relative;
    background: #853BFA;
}
blockquote:before{
    content: '\f10d';
    font-family: fontawesome;
    color: #fff;
    font-size: 32px;
    position: absolute;
    left: 16px;
    top: 46px;
}
blockquote p{
    font-size: 17px;
    color: #fff;
}
.blockquote-footer{
    color: #fff;
}